[project]
	description = "example game in C# for windows phone"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/serup
[access "refs/for/refs/*"]
	read = group user/serup
	push = group user/serup
	label-Code-Review = -2..+2 group user/serup
	label-Verified = -1..+1 group user/serup
	rebase = group user/serup
	removeReviewer = group user/serup
	submit = group user/serup
[access "refs/heads/*"]
	read = group user/serup
	create = group user/serup
	push = +force group user/serup
	pushMerge = group user/serup
[access "refs/tags/*"]
	push = +force group user/serup
	pushTag = group user/serup
	pushSignedTag = group user/serup
